<%= form_tag "/rests", method: :post do %>
<div> Type of Nap: <input type= "text" name="kind_param">
<div>Duration: <input type= "text" name="duration_param">
<div>Location:<input type= "text" name="location_param">
<input type= "submit" value="Enter New Nap">
<%end%>


<a href="/rests">Back to homepage</a>